<form>
  First name*: <input type="text" [(ngModel)]="firstName" name="firstName">
  <br>
  Last name*: <input type="text" [(ngModel)]="lastName" name="lastName">
  <br>
  Email*: <input type="text" [(ngModel)]="email" name="email">
  <br>
  Password*: <input type="password" [(ngModel)]="password" name="password">
  <br>
  <!--<p-multiSelect [options]="places" [(ngModel)]="selectedPlaces" optionLabel="name"></p-multiSelect>-->
  
  <angular2-multiselect 
  [data]="places" 
  [(ngModel)]="selectedPlaces" 
  [settings]="placeDropdownSettings" 
  name="selectedPlaces">
    <c-item>
      <ng-template let-item="item">
        <label>{{item.name}}</label>
      </ng-template>
    </c-item>
  </angular2-multiselect>
  <br>
  <angular2-multiselect 
  [data]="sports" 
  [(ngModel)]="selectedSports" 
  [settings]="sportDropdownSettings" 
  name="selectedSports" >
    <c-item>
      <ng-template let-item="item">
        <label>{{item.name}}</label>
      </ng-template>
    </c-item>
  </angular2-multiselect>

  <button (click)="handleSignUp()">Sign up</button>
</form>